.container {
  display: flex;
  justify-content: center;
  padding: 70px;
}

.paper {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.heading {
  margin-bottom: 20px;
  color: #333;
}

.textField {
  margin-bottom: 15px;
}

.submitButton {
  margin-top: 20px;
  background-color: #1976d2;
  color: #fff;
  &:hover {
    background-color: #115293;
  }
}

.drawerForm {
  width: 250px;
  padding: 20px;
}

.additionalField {
  border: 1px solid #ccc; /* สีของเส้นกรอบ */
  padding: 10px; /* เพิ่ม padding */
  border-radius: 5px; /* ความโค้งของมุม */
  margin-bottom: 15px; /* ระยะห่างระหว่างฟิลด์ */
  background-color: #fafafa; /* สีพื้นหลัง */
}

.removeButton {
  margin-top: 10px; /* เพิ่มระยะห่างด้านบน */
  color: red; /* สีของไอคอนลบ */
}
