.fullscreen-container {
  width: 100%;
  padding: 70px;
  margin: 0;
}

.table-container {
  width: 100%;
  margin-top: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #0099cc; /* เพิ่มเส้นขอบ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #0099cc; /* เพิ่มเส้นขอบ */
  text-align: left;
}

.table th {
  background-color: #00bfff; /* สีพื้นหลังส่วนหัวของตาราง */
  font-size: 1rem;
  font-weight: bold;
  color: #fff; /* สีตัวอักษร */
  text-transform: uppercase; /* ตัวอักษรเป็นตัวพิมพ์ใหญ่ */
}

.table td {
  font-size: 0.875rem;
  color: #003366; /* สีตัวอักษร */
}

.table tr:nth-of-type(even) {
  background-color: #e0f7ff; /* สีพื้นหลังสำหรับแถวคู่ */
}

.table tr:nth-of-type(odd) {
  background-color: #b3e5fc; /* สีพื้นหลังสำหรับแถวคี่ */
}

.table tr:hover {
  background-color: #80d8ff; /* สีพื้นหลังเมื่อ hover */
}

.table tr:active {
  background-color: #4fc3f7; /* สีพื้นหลังเมื่อคลิก */
}

.fullscreen-container h5 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: bold;
  color: #007acc; /* สีตัวอักษรสำหรับหัวเรื่อง */
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.customButton {
  background-color: #ff69b4; /* สีพื้นหลังฟรุ้งฟริ้ง */
  color: #fff; /* สีตัวอักษร */
  font-weight: bold;
  padding: 10px 20px; /* เพิ่ม Padding */
  border: none;
  border-radius: 25px; /* เพิ่มความโค้งมน */
  box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2); /* เพิ่มเงา */
  transition: background-color 0.3s ease, transform 0.3s ease; /* เพิ่ม Transition */
  margin: 16px 0; /* เพิ่ม Margin ด้านบนและล่าง */
}

.customButton:hover {
  background-color: #ff1493; /* สีพื้นหลังเมื่อ hover */
  transform: scale(1.05); /* ขยายขนาดเล็กน้อยเมื่อ hover */
}

.customButton:active {
  background-color: #c71585; /* สีพื้นหลังเมื่อคลิก */
  transform: scale(0.95); /* หดขนาดเล็กน้อยเมื่อคลิก */
}

.slide-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease; /* เพิ่ม transition */
}

.slide-container-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-container-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.slide-container-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-container-exit-active {
  transform: translateX(100%);
  opacity: 0;
}

.text-field {
  margin-bottom: 20px;
  width: 100%;
}

.button {
  margin-bottom: 10px;
  width: 100%;
}
